* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$fancy: "Pacifico", cursive;
body,
html {
  width: 100vw;
  font-family: "Quicksand", sans-serif;
}
body {
  //   background-image: url("../images/SL_111019_24830_68.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
nav {
  width: 100%;
  padding: 15px 20px;
  height: 8vh;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff595e;
  box-shadow: 0px 3px 10px 5px rgb(206, 17, 17, 0.1);
  p,
  i {
    color: white;
    font-family: $fancy;
    font-size: 18px;
  }
}
main {
  overflow-x: hidden;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  padding: 10px;
}
h1 {
  font-size: 2rem;
  text-align: center;
}

.birthday-card {
  display: flex;
  flex-direction: column;
  //   height: 90vh;
  gap: 30px;
  align-items: center;
  .letter {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    span {
      width: auto;
      position: relative;
    }
  }
}
button {
  border: none;
  background-color: #ff595e;
  padding: 20px 25px;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 10px;
  width: 100%;
}
video,
img {
  object-fit: cover;
  width: 100%;
}

.swiper {
  margin-top: 50px;
  height: 400px;
  width: 250px;
}

.swiper-slide {
  width: 100px;
  height: 100%;
  border: 2px solid;
  border-radius: 18px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// .swiper-slide:nth-child(1n) {
//   border-color: rgb(206, 17, 17);
// }

// .swiper-slide:nth-child(2n) {
//   border-color: rgb(0, 140, 255);
// }

// .swiper-slide:nth-child(3n) {
//   position: relative;
//   border-color: rgb(10, 184, 111);
// }

// .swiper-slide:nth-child(4n) {
//   border-color: rgb(211, 122, 7);
// }
.confetti-button {
  text-align: center;
  transition: 0.3s;
}
.confetti-button:hover {
  background: #ff595fac;
}

.button-wrapper {
  position: relative;
  width: 200px;
  height: 60px;
}
.button-wrapper canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ff595e;
  height: 5px;
  transition: 0.3s linear;
  animation: move 4s infinite forwards;
}

@keyframes move {
  0% {
    width: 10px;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 10px;
  }
}

    .icons{
        display: flex;
        align-items: center;
        gap: 15px;
        i{
            font-size: 1.3rem;
            cursor: pointer;
        }
    }
@media (min-width: 800px) {
  body {
    background-image: url("../images/SL_111019_24830_68.jpg");
  }
  main {
    flex-direction: row;
    width: 100%;
    height: 92vh;
    justify-content: center;
    place-items: center;
    backdrop-filter: blur(10px);
    .birthday-card {
      // background-color: #ff595fac;
      backdrop-filter: blur(10px);
      width: 50%;
      align-items: start;
      h1 {
        text-align: start !important;
      }
      p {
        font-size: 1.2rem;
      }
    }

    .swiper {
      width: 400px;
      height: 600px;
      //   scrollbar
    }
  }
}
